<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Register</title>

	
</head>
<body>

<section>









<div class="container mt-3 text-success ">
<div class="row">
<div class="col-md-6 offset-md-3">
<div class="card">
<div class="card-header text-center bg-primary fs-4">Register Page</div>
<div class="card-body bg-success">
<div class="mt-2 text-warning text-center bg-danger">
<form action="createUser" >

    <div class="form-group ">
      <label for="inputEmail4">Fullname</label>
      <input type="text" name="fullname" class="form-control bg-primary" id="inputEmail4" placeholder="Fullname">
    </div>
  
    <div class="form-group ">
      <label for="inputEmail4">Email</label>
      <input type="email" name="email" class="form-control bg-primary" id="inputEmail4" placeholder="Email">
    
   
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" name="address" class="form-control bg-primary" id="inputAddress" placeholder="ADdresss">
  </div>
 
  <div class="form-group ">
      <label for="inputPassword4">Qualification</label>
      <input type="text"  name="qualification"  class="form-control bg-primary" id="inputPassword4" placeholder="Qualification">
    </div>
 <div class="form-group">
      <label for="inputPassword4">Password</label>
      <input type="password" name="password" class="form-control bg-primary" id="inputPassword4" placeholder="Password">
    </div>
  <button type="submit" class="btn btn-success mt-2">Register</button>
</form>



</div>

</div>






</div>





</div>





</div>














</div>

















</section>



</body>
</html>