<!DOCTYPE html>
<html lang="en" xmlns:th="http//:www.thymeLeaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>


		<div class="container" style="margin-top: 70px">


			<div class="card shadow-sm p-0 m-5 mt-0 bg-body-tertiary rounded">


				<div class="card-body">


<div class="container p-5 ">

<div class="row">

<div class="col-md-4">

<div class="card bg-info shadow-lg  p-0 m-5 mt-0">

<div class="card-header text-center fs-4 bg-primary">





Add Category




</div>
<div class="card-body bg-info">


<form>


<div class="mb-3">


<label> Enter Category</label>
<input type="text" name="title"  class="form-control">


</div>













<div class="mb-3 col">


<label>Upload Image </label>
<input type="file" name="upload"  class="form-control">


</div>


















<button class="btn btn-primary col-md-12"> Submit</button>





























</form>










</div>










</div>








</div>

<div class="col-md-8">

<div class="card shadow-lg">


<div class="card-header text-center fs-4 bg-primary">

View Category


</div>

<div class="card-body bg-info">

<table class="table table-info table-striped">
  <thead>
    <tr>
      <th scope="col">Sl.No</th>
      <th scope="col">Category</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
   
  </tbody>
</table>



</div>



</div>











</div>





</div>










</div>


</div>


</div>


</div>


</section>
</body>
</html>