<!DOCTYPE html>
<html lang="en" xmlns:th="http//:www.thymeLeaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>


		<div class="container" style="margin-top: 70px">


			<div class="card shadow-sm p-0 m-5 mt-0 bg-body-tertiary rounded">


				<div class="card-body">


					<div class="container p-5 ">

						<div class="row">

							<div class="col-md-4">

								<div class="card bg-info shadow-lg  p-0 m-5 mt-0">

									<div class="card-header text-center fs-4 bg-primary">
										Add Category

										<th:block th:if="${session.succMsg}">

											<p class="text-warning text-striped fw-bold">[[${session.succMsg}]]</p>
											<th:block th:text="${@commonServiceImple.removeSessionMsg()}"></th:block>
										</th:block>

										<th:block th:if="${session.errorMsg}">

											<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
											<!-- In case of bean the first later is small -->
											<th:block th:text="${@commonServiceImple.removeSessionMsg()}"></th:block>
										</th:block>

									</div>
									<div class="card-body bg-info">


										<form action="/admin/saveCategory" method="post"
											enctype="multipart/form-data">


											<div class="mb-3">


												<label> Enter Category</label> <input type="text"
													name="name" class="form-control">


											</div>



											<div class="mb-3">


												<label> Status</label>
												<div class="form-check">
													<input class="form-check-input" type="radio"
														name="isActive" id="exampleRadios1" value="true"
														checked> <label class="form-check-label"
														for="exampleRadios1">Active </label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="radio"
														name="isActive" id="exampleRadios2" value="false">
													<label class="form-check-label" for="exampleRadios2">
														Inactive</label>
												</div>

											</div>









											<div class="mb-3 col">


												<label>Upload Image </label> <input type="file" name="file"
													class="form-control">


											</div>


















											<button class="btn btn-primary col-md-12">Save</button>





























										</form>










									</div>










								</div>








							</div>

							<div class="col-md-8">

								<div class="card shadow-lg">


									<div class="card-header text-center fs-4 bg-primary">

										View Category</div>

									<div class="card-body bg-info">

										<table class="table table-info table-striped">
											<thead>
												<tr>
													<th scope="col">Sl.No</th>
													<th scope="col">Category</th>
													<th scope="col">status</th>
													<th scope="col">Product</th>
													<th scope="col">Action</th>
												</tr>
											</thead>
											<tbody>
												<tr >
												<td>checked</td>
												<td>checked</td>
												<td>checked</td>
												<td>checked</td>
													
														<td>checked</td>
												</tr>

											</tbody>
										</table>



									</div>



								</div>











							</div>





						</div>










					</div>


				</div>


			</div>


		</div>


	</section>
</body>
</html>