<!DOCTYPE html>
<html lang="en" xmlns:th="http//:www.thymeLeaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>

		<div class="container-fluid" style="margin-top: 70px">


			<div class="card shadow-sm p-0 m-5 mt-0 bg-body-tertiary rounded">


				<div class="card-body">

					<div class="container-fluid mt-5 p-5">

						<div class="card card-sh">
							<div class="card-header text-center bg-primary">
								<p class="fs-4">View Products</p>


								<th:block th:if="${session.succMsg}">

									<p class="text-warning text-striped fw-bold">[[${session.succMsg}]]</p>
									<th:block th:text="${@commonServiceImple.removeSessionMsg()}"></th:block>
								</th:block>

								<th:block th:if="${session.errorMsg}">

									<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
									<!-- In case of bean the first later is small -->
									<th:block th:text="${@commonServiceImple.removeSessionMsg()}"></th:block>
								</th:block>







							</div>
							<div class="card-body bg-info text-center">
								<table
									class="table table-info table-striped table-bordered border-primary">
									<thead>
										
										<tr>
											<th scope="col">Order Id</th>
											<th scope="col">Date</th>
											<th scope="col">Product Details</th>
											<th scope="col">Price</th>
											<th scope="col">Status</th>
											<th scope="col">Action</th>
										</tr>

									</thead>
									<tbody>
										<tr th:each="o:${orders}">
											<th scope="row">[[${o.orderId}]]</th>
											<td>[[${o.orderDate}]]</td>
											<td>[[${o.product.title}]]</td>
											<td>Quantity : [[${o.quantity}]] <br>Price :
												[[${o.price}]] <br>Total Price :[[${o.quantity *
												o.price}]]
											</td>
											<td>[[${o.status}]]</td>
											<td><th:block th:if="${o.status!='Cancelled'}">
													<a th:href="@{'/user/update-status?id='+${o.id}+'&st=6' }"
														class="btn btn-sm btn-danger">Cancel</a>
												</th:block> <th:block th:unless="${o.status!='Cancelled'}">
													<a href="#" class="btn btn-sm btn-danger disabled">Cancel</a>
												</th:block></td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>


			</div>


		</div>

	</section>
</body>
</html>