<!DOCTYPE html>
<html lang="en" xmlns:th="http//:www.thymeLeaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Product Page</title>
</head>
<body>
	<section>

		<div class="container-fluid bg-primary p-5 mt-5">
			<div class="row">

				<div class="col-md-8 offset-md-2">

					<form>

						<div class="input-group">

							<input type="text" class="form-control" name="ch">

							<button class="btn btn-info text-dark ms-3 col-md-2">
								<i class="fa-solid fa-magnifying-glass text-primary"></i>Search
							</button>





						</div>








					</form>








				</div>



			</div>




		</div>



		<div class="container-fluid mt-1">


			<div class="row">



				<div class="col-md-2">

					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">

						<div class="card-body">

							<div class="list-group">
								<a href="#"
									class="list-group-item list-group-item-action active"
									aria-current="true">Category </a> <a href="#"
									class="list-group-item list-group-item-action">Shirt item</a> <a
									href="#" class="list-group-item list-group-item-action">
									Saree</a> <a href="#"
									class="list-group-item list-group-item-action"> Watch item</a>

							</div>








						</div>
					</div>
				</div>
				<div class="col-md-10">


					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body bg-Light">

							<p class="fs-3 text-center">Products</p>
							<div class="row">



								<!-- todo -->

								<div class="col-md-3">
									<div class="card">

										<div
											class="card-body text-center shadow-lg bg-info decoration-none"
											width="100%" height="150px">

											<img alt="image" src="img/th (16).jfif">

											<p class="fs-5 text-center">Laptop</p>


											<div class="row text-center">

												<p class="fs-6 fw-bold">
													<i class="fa-solid fa-dollar-sign"></i> 500 <span
														class="fs-6 text-success"> 20% off </span>


												</p>


												<a href="/view_details"  class="btn btn-primary col-md-6 offset-md-3"> view
													Details</a>


											</div>

										</div>


									</div>





								</div>



								<!-- To do -->

								<div class="col-md-3">
									<div class="card">

										<div
											class="card-body text-center shadow-lg bg-info decoration-none"
											width="100%" height="150px">

											<img alt="image" src="img/th (16).jfif">

											<p class="fs-5 text-center">Laptop</p>


											<div class="row text-center">

												<p class="fs-6 fw-bold">
													<i class="fa-solid fa-dollar-sign"></i> 500 <span
														class="fs-6 text-success"> 20% off </span>


												</p>


												<a class="btn btn-primary col-md-6 offset-md-3"> view
													Details</a>


											</div>

										</div>


									</div>





								</div>


								<div class="col-md-3">
									<div class="card">

										<div
											class="card-body text-center shadow-lg bg-info decoration-none"
											width="100%" height="150px">

											<img alt="image" src="img/th (16).jfif">

											<p class="fs-5 text-center">Laptop</p>


											<div class="row text-center">

												<p class="fs-6 fw-bold">
													<i class="fa-solid fa-dollar-sign"></i> 500 <span
														class="fs-6 text-success"> 20% off </span>


												</p>


												<a class="btn btn-primary col-md-6 offset-md-3"> view
													Details</a>


											</div>

										</div>


									</div>





								</div>





								<div class="col-md-3">
									<div class="card">

										<div
											class="card-body text-center shadow-lg bg-info decoration-none"
											width="100%" height="150px">

											<img alt="image" src="img/th (16).jfif">

											<p class="fs-5 text-center">Laptop</p>


											<div class="row text-center">

												<p class="fs-6 fw-bold">
													<i class="fa-solid fa-dollar-sign"></i> 500 <span
														class="fs-6 text-success"> 20% off </span>


												</p>


												<a class="btn btn-primary col-md-6 offset-md-3"> view
													Details</a>


											</div>

										</div>


									</div>





								</div>




							</div>

						</div>




					</div>








				</div>






			</div>












		</div>






























	</section>

</body>
</html>