<!DOCTYPE html>
<html lang="en" xmlns:th="http//:www.thymeLeaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>View Details Product</title>
</head>
<body>
	<section>


		<div class=" container card-sh" style="margin-top: 70px">
			<div class="container-fluid  mb-3 display-flex decoration-none">


				<div class="row">


					<div class="col-md-14">



						<div class="card shadow-sm p-3  bg-body-tertiary rounded">



							<div class="card-body">
								<div class="container mt-5 p-5 bg-light">

									<div class="row">

										<div class="col-md-6 p-5 shadow-lg ">

											<img alt="image" src="img/th (16).jfif" width="100%"
												height="400px">

										</div>
										<div class="col-md-6 p-5">

											<div class="card shadow-lg">

												<div class="card-header bg-primary">


													<p class="fs-4 text-center">Product Details</p>





												</div>


												<div class="card-body bg-info">

													<p class="fs-3 text-center">Laptop</p>
													<p>
														<span class="fs-bold"> Description </span><br> Hp
														Laptop,256gp processsor 512 gb ram


													</p>



													<p>
														<span class="fw-bold"> Product Details: </span> <br>Status:<span
															class="badge bg-success"> Available </span> <span
															class="badge bg-warning">Out of stock</span><br>


														Category:Laptop<br> POlicy 7 Days warenty Replacement
														& Return

													</p>


													<p class="fs-5 fs-bold">
														Price :&nbsp;&nbsp;&nbsp;&nbsp;<i
															class="fas fa-rupee-sign"></i> 700000<span
															class="fs-6 text-decoration-Line-through text-secondary">


															20 </span> <span class="fs-6 text-success"> % off </span>

													</p>






												</div>




												<div class="card-footer text-center bg-info">

													<button type="submit"
														class="btn bg-primary text-white col-md-12">Add
														to card</button>




												</div>




											</div>












										</div>


									</div>



								</div>
							</div>


						</div>



					</div>


				</div>



			</div>


		</div>


	</section>
</body>
</html>